body{
	background-color:lightgreen;
}
#container{
	background-color:lightgrey;
	/*the default is always 100%(of the parent)*/
	/*change the width from 100% to 80%*/
	width: 80%;
	/*in doing that the block still takes 100%, so margin is added to the right*/

	/*to set the container in the middle of it's parent, put equal portions of
	 margin on both sides*/
	margin:auto;
	/*change the text color*/
	color:white;
	/*don't move the container... move the stuff INSIDE the container*/
	text-align:center;
}

/*a space(as opposed to a , ) means parent > child*/
#container .the-block{
	width: 48%;
	display:inline-block;
	vertical-align:middle;
}

/*to target more than one element you use a , to separate*/
.the-block, .the-block2{
	font-size:50px;
}

/*to target an element with two classes, you don't include a space*/
.the-block.one{
	border: 5px solid white;
}
/*!important reigns supreme, then use more specific... the more selectors the better*/
/*id > class > tag*/

.parent{
	width: 200px;
	height: 200px;
	background: lightyellow;
}
/*> symbol is like a space but will only go one layer down*/
.parent > div{
	width:100px;
	height:100px;
	background:salmon;
}
.parent > div > div{
	width:50px;
	height:50px;
	background:skyblue;
}
.inline-tag{
	color:white;
	font-size: 70px;
	width:10px;
	height:10px;
	padding:100px;
	margin:100px;
	display: inline-block;
}